.git
.github
.nx
.DS_Store
node_modules
**/node_modules
coverage
**/coverage
dist
**/dist
build
**/build
*.tsbuildinfo
**/*.tsbuildinfo
playwright-report
**/playwright-report
test-results
**/test-results
**/.react-router
*.log
**/npm-debug.log*
**/pnpm-debug.log*
